#loginNav {
  background: #21445a;
  z-index: 2000;
}
#loginNav .logo-gbpd {
  top: 2em;
  left: 4.5em;
  display: flex;
  position: absolute;
  width: 180px;
}
#loginNav .logo-gbpd .main-logo {
  background: transparent url("../img/gbpd-logo-s.png") center center no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
}
#loginNav .logo-gbpd .text-logo {
  width: 100px;
  font-size: 14px;
  color: #fff;
  margin-left: 0.6em;
  white-space: initial;
  line-height: 1.1em;
}
#loginNav .nav-link {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #fff;
}
#loginNav .nav-link:hover {
  color: aquamarine;
}

#mainNav {
  top: 2.2em;
  background: #336995;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.5);
}
#mainNav .nav-link {
  color: #fff;
}
#mainNav .nav-link:hover {
  color: aquamarine;
}

@media (max-width: 576px) {
  #loginNav .navbar-brand {
    display: none;
  }
  #loginNav .nav-link {
    padding: 0.5rem;
  }

  #mainNav {
    top: 2.2em;
  }
}
.banner {
  margin-top: 6.5em;
  background: #aaa url("../img/banner-gbpd-2021.jpeg") center center no-repeat;
  background-size: contain;
  width: 100%;
  height: 400px;
}

.row h1 {
  margin-top: 1em;
}

.align-title {
  padding: 0 2em;
}

footer {
  background: #21445a;
  width: 100%;
  min-height: 300px;
}
footer .logo-gbpd {
  top: 2em;
  left: 1em;
  display: flex;
  position: absolute;
}
footer .logo-gbpd .footer-logo {
  background: transparent url("../img/gbpd-logo-s.png") center center no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
}
footer .logo-gbpd .text-logo {
  width: 128px;
  font-size: 18px;
  color: #fff;
  margin-left: 0.6em;
  white-space: initial;
  line-height: 1.2em;
}
footer address {
  top: 2.5em;
  position: absolute;
  color: #fff;
}
footer address .social-media-links {
  font-size: 2em;
  letter-spacing: 0.1em;
}
footer address .social-media-links a {
  color: #fff;
}
footer address .social-media-links a:hover {
  color: aquamarine;
}
footer address h6 {
  text-transform: uppercase;
}
footer address ul {
  list-style: none;
  padding: 1em 0;
}
footer address ul li {
  font-size: 14px;
}
footer address:last-child {
  text-align: center;
}

@media (max-width: 576px) {
  footer {
    padding: 3em 0;
  }
  footer .footer-logo {
    top: 0;
    left: 0;
    position: relative;
    margin: auto;
  }
  footer address {
    top: 3em;
    text-align: center;
  }
  footer address ul {
    width: 100%;
  }
}
.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.grid li {
  display: inline-block;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}
.grid figure {
  margin: 0;
  position: relative;
}
.grid figure img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  display: block;
  position: relative;
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #336995;
  color: #ed4e6e;
}
.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}
.grid figcaption span {
  font-size: 12px;
}
.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #21445a;
  color: #fff;
}
.grid figcaption a:hover {
  text-decoration: none;
  background: #008388;
}

.caption-hover figure img {
  z-index: 10;
  transition: transform 0.4s;
  border: #ccc 1px solid;
}
.caption-hover figcaption {
  height: 90px;
  width: 100%;
  top: auto;
  bottom: 0;
}
.caption-hover figcaption a {
  position: absolute;
  right: 20px;
  left: 20px;
  top: 30px;
}

.no-touch .caption-hover figure:hover img,
.caption-hover figure.cs-hover img {
  border: #999 1px solid;
  border-radius: 0;
  transform: translateY(-90px);
}

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}

/*# sourceMappingURL=gbpd-theme.css.map */
