#loginNav {
  background: #21445a;
  z-index: 2000;
}
#loginNav .nav-item .btn-associe {
  background: #EFB728;
  margin: 4px 0;
  padding: 4px 8px;
  border-radius: 2px;
  transition: 0.5s;
}
#loginNav .nav-item .btn-associe:hover {
  box-shadow: 0 0 4px 2px rgba(250, 250, 250, 0.4);
  color: #336995 !important;
}
#loginNav .nav-item button {
  background-color: transparent;
  border: none;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #fff;
}
#loginNav .nav-item button:hover {
  color: aquamarine;
}

#mainNav {
  top: 2.2em;
  background: #336995;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
}
#mainNav .nav-link {
  color: #fff;
  padding-right: 1em;
}
#mainNav .nav-link:hover {
  color: #EFB728;
}
#mainNav .logo-gbpd {
  top: -10px;
  width: 160px;
  height: 82px;
  margin: 5px 0;
  display: flex;
  position: absolute;
  background: transparent url("../img/gbpd-logo-new.png") center center no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  #mainNav #navbarResponsive .navbar-nav {
    padding-top: 20px;
  }
}
@media (max-width: 576px) {
  #loginNav .btn-associe {
    padding: 4px 8px;
  }
  #loginNav .sm-hide {
    display: none;
  }
  #loginNav .navbar-brand {
    display: none;
  }
  #loginNav .nav-link i {
    padding: 5px;
  }

  #mainNav {
    top: 2.2em;
  }
  #mainNav .logo-gbpd {
    top: -8px;
    width: 150px;
  }
}
.banner {
  margin-top: 6.6em;
  background: #336995 url("../img/banner-desktop.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 316px;
}

.row h1 {
  margin-top: 1em;
  color: #21445a;
}

#news {
  margin-bottom: 3em;
}
#news .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#news .row .card {
  width: 250px;
  height: 250px;
  background: #026787;
}
#news .row .card .card-body {
  padding: 20px;
  background: #fff;
  color: #606060;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#news .row .card img {
  width: 140px;
  height: 92px;
}
#news .row .card p {
  padding-top: 10px;
  color: #000;
  font-size: 14px;
  text-align: center;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#news .row .card a {
  margin: 6px;
  padding: 4px 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: 0.6s;
  cursor: pointer;
}
#news .row .card a i {
  margin-left: 0.6rem;
}
#news .row .card a:hover {
  color: #026787;
}
#news .row .card:hover {
  background-color: #EFB728;
}
#news .row .card-border {
  margin: 1.5rem 0;
  border: 1px solid #026787;
  border-radius: 0;
  opacity: 1;
  transition: 0.6s;
}
#news .row .card-border:hover {
  border: 1px solid #EFB728;
}

@media (max-width: 992px) {
  .banner {
    background-size: contain;
    width: 100%;
    max-height: 200px;
  }
}
@media (max-width: 768px) {
  .banner {
    width: 100%;
    height: 268px;
  }

  .feed-news-group ul {
    width: auto;
    min-width: 400px;
    padding: 4px 8px;
  }
}
@media (max-width: 576px) {
  .banner {
    background: #336995 url("../img/banner-mobile.png") center center no-repeat;
    background-size: contain;
    margin-top: 6.6em;
    width: 100%;
    max-height: 240px;
  }

  .feed-news-group ul {
    width: auto;
    min-width: 300px;
    padding: 2px 4px;
  }
}
#new-member {
  background: #336995 url("../img/associe-se-ja.png") center center no-repeat;
  background-size: cover;
  padding-bottom: 1rem;
  color: #fff;
}
#new-member h1, #new-member strong {
  color: #EFB728;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#new-member ul {
  margin-top: 1.6rem;
  margin-left: 1.6rem;
}
#new-member li {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#new-member li i {
  font-size: 14px;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#new-member .form-group {
  padding: 10px 0;
  margin-left: 0;
  display: flex;
  justify-content: start;
}
#new-member input[type=text] {
  width: 290px;
  height: 32px;
  margin-left: 5px;
  margin-right: 15px;
}
#new-member input[type=text]::placeholder {
  font-style: italic;
  color: #aaa;
}
#new-member button {
  width: 110px;
  height: 32px;
  background: #EFB728;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
  -webkit-font-smoothing: antialiased;
}
#new-member button i {
  line-height: 2px;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
#new-member button:hover {
  color: #336995;
  box-shadow: 0 0 4px 2px rgba(250, 250, 250, 0.4);
}

#about-us {
  margin-top: 10em;
}

#contact {
  margin-top: 6.8em;
}
#contact .banner-contact {
  background: url("../img/top_banner-contact.png") center center no-repeat;
  width: 100%;
  height: 200px;
}
#contact button {
  width: 110px;
  height: 32px;
  background: #EFB728;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
  -webkit-font-smoothing: antialiased;
}
#contact button:hover {
  color: #336995;
  box-shadow: 0 0 4px 2px rgba(250, 250, 250, 0.4);
}

.form-modal {
  display: none;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.form-container .form-popup-register, .form-container .form-popup-login {
  display: none;
  max-width: 300px;
  position: fixed;
  top: 2rem;
  padding: 17px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
}
.form-container .form-popup-register .form-group, .form-container .form-popup-login .form-group {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 0;
}
.form-container .form-popup-register .form-group label, .form-container .form-popup-login .form-group label {
  margin-bottom: 0.2rem;
}
.form-container .form-popup-register .form-group input, .form-container .form-popup-login .form-group input {
  height: 30px;
  font-size: 12px;
}
.form-container .form-popup-register .form-row:last-child, .form-container .form-popup-login .form-row:last-child {
  padding-top: 10px;
}
.form-container .form-popup-register .form-row:last-child a, .form-container .form-popup-login .form-row:last-child a {
  margin-top: 3px;
  padding-left: 6px;
  color: #EFB728;
  transition: 0.5s;
}
.form-container .form-popup-register .form-row:last-child a:hover, .form-container .form-popup-login .form-row:last-child a:hover {
  text-decoration: underline;
}
.form-container .form-popup-register button, .form-container .form-popup-login button {
  margin-right: 0.2rem;
  padding: 4px 20px;
  background-color: #EFB728;
  transition: 0.5s;
}
.form-container .form-popup-register button:hover, .form-container .form-popup-login button:hover {
  box-shadow: 0 0 4px 2px rgba(250, 250, 250, 0.4);
  color: #336995 !important;
}
.form-container .form-popup-register {
  right: 17rem;
  color: #EFB728;
  background-color: #21445a;
  border: 1px solid #21445a;
  z-index: 10;
}
.form-container .form-popup-login {
  right: 10.6rem;
  color: #fff;
  background-color: #336995;
  border: 2px solid #21445a;
  z-index: 9;
}

@media (max-width: 1400px) {
  .form-container .form-popup-register {
    right: 11.5rem;
  }
  .form-container .form-popup-login {
    right: 5rem;
  }
}
@media (max-width: 576px) {
  .form-container .form-popup-login {
    right: 1rem;
  }
}
footer {
  background: #00445A;
  width: 100%;
  min-height: 220px;
}
footer .logo-gbpd {
  top: 2rem;
  left: 1rem;
  display: flex;
  position: absolute;
  background: transparent url("../img/gbpd-logo-new.png") center center no-repeat;
  background-size: contain;
  width: 160px;
  height: 82px;
}
footer address {
  top: 2.5em;
  position: absolute;
  color: #fff;
}
footer address .social-media-links {
  font-size: 2em;
  letter-spacing: 0.1em;
}
footer address .social-media-links a {
  color: #fff;
}
footer address .social-media-links a:hover {
  color: aquamarine;
}
footer address h6 {
  text-transform: uppercase;
}
footer address ul {
  list-style: none;
  padding: 1em 0;
}
footer address ul li {
  font-size: 14px;
}
footer address:last-child {
  text-align: center;
}
footer .gbpd-copyright small {
  padding-top: 15px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
footer .mandrillus a {
  color: #fff;
  text-decoration: none;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .mandrillus a small {
  padding-top: 2px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: 0.6s;
}
footer .mandrillus a:hover small {
  color: #EFB728;
}
footer .mandrillus .icon {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-size: cover;
}
footer .mandrillus .mandrillus-icon {
  background-image: url("../svg/logo_light.svg");
  transition: 0.6s;
}
footer .mandrillus .mandrillus-icon:hover,
footer .mandrillus .mandrillus-icon:focus {
  background-image: url("../svg/logo_light_yellow.svg");
}
footer .gbpd-copyright, footer .mandrillus {
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  footer {
    padding-top: 1em;
    padding-bottom: 3em;
  }
  footer .navbar-brand {
    display: contents;
    margin-right: 0;
  }
  footer .navbar-brand .logo-gbpd {
    top: 0;
    margin: auto;
    position: relative;
  }
  footer .navbar-brand .logo-gbpd .footer-logo {
    margin: auto;
    position: relative;
  }
  footer .navbar-brand .logo-gbpd span {
    display: none;
  }
  footer address {
    top: 3em;
    text-align: center;
  }
  footer address ul {
    width: 100%;
  }
  footer address:last-child {
    margin-bottom: 3em;
  }
  footer .gbpd-copyright small {
    margin: auto;
    padding-top: 20px;
  }
}
@media (max-width: 576px) {
  footer .gbpd-copyright {
    margin-top: 30px;
    text-align: center;
  }
  footer .mandrillus {
    margin-top: 0;
  }
  footer .mandrillus a {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.grid li {
  display: inline-block;
  margin: 0;
  padding: 20px 30px;
  text-align: left;
  position: relative;
}
.grid figure {
  margin: 0;
  position: relative;
}
.grid figure img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  display: block;
  position: relative;
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #336995;
}
.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}
.grid figcaption span {
  font-size: 12px;
}
.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #EFB728;
  color: #fff;
  transition: 0.5s;
}
.grid figcaption a:hover {
  color: #336995;
  text-decoration: none;
  box-shadow: 0 0 4px 2px rgba(250, 250, 250, 0.4);
}

.caption-hover figure img {
  z-index: 10;
  transition: transform 0.6s;
}
.caption-hover figcaption {
  height: 90px;
  width: 100%;
  top: auto;
  bottom: 0;
}
.caption-hover figcaption a {
  position: absolute;
  right: 20px;
  left: 20px;
  top: 30px;
}

.no-touch .caption-hover figure:hover img,
.caption-hover figure.cs-hover img {
  border: #999 1px solid;
  border-radius: 0;
  transform: translateY(-90px);
}

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}
@media (max-width: 576px) {
  .grid {
    padding: 10px 10px 60px 10px;
  }
  .grid li {
    width: auto;
    min-width: auto;
  }
}

/*# sourceMappingURL=gbpd-theme.css.map */
