.grid {
   padding: 20px 20px 100px 20px;
   max-width: 1300px;
   margin: 0 auto;
   list-style: none;
   text-align: center;
   li {
      display: inline-block;
      // width: 440px;
      margin: 0;
      padding: 20px;
      text-align: left;
      position: relative;
   }
   figure {
      margin: 0;
      position: relative;
      img {
         width: 200px;
         height: 200px;
         max-width: 100%;
         display: block;
         position: relative;
      }
   }
   figcaption {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      background: $menu-background;
      color: #ed4e6e;
      h3 {
         margin: 0;
         padding: 0;
         color: #fff;
      }
      span{
         font-size: 12px;
      }
      a {
         text-align: center;
         padding: 5px 10px;
         border-radius: 2px;
         display: inline-block;
         background: $menu-item-focus;
         color: #fff;
      }
      a:hover {
         text-decoration: none;
         background: $box-border-bg;
      }
   }
}
.caption-hover {
   figure {
      img {
         z-index: 10;
         transition: transform 0.4s;
         border: #ccc 1px solid;
      }
   }
   figcaption {
      height: 90px;
      width: 100%;
      top: auto;
      bottom: 0;
      a {
         position: absolute;
         right: 20px;
         left: 20px;
         top: 30px;
      }
   }
}
.no-touch .caption-hover figure:hover img,
.caption-hover figure.cs-hover img {
   border: #999 1px solid;
   border-radius: 0;
   transform: translateY(-90px);
}

@media screen and (max-width: 31.5em) {
   .grid {
      padding: 10px 10px 100px 10px;
      li {
         width: 100%;
         min-width: 300px;
      }
   }
}

// Responsive Styles
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {
   .grid {
      padding: 10px 10px 60px 10px;
      li {
         width: auto;
         min-width: auto;
      }
   }
}
