footer {
   background: #00445A;
   width: 100%;
   min-height: 220px;
   .logo-gbpd {
      top: 2rem;
      left: 1rem;
      display: flex;
      position: absolute;
      background: transparent url('../img/gbpd-logo-new.png') center center no-repeat;
      background-size: contain;
      width: 160px;
      height: 82px;
   }
   address {
      top: 2.5em;
      position: absolute;
      color: #fff;
      .social-media-links {
         font-size: 2em;
         letter-spacing: 0.1em;
         a { color: #fff; }
         a:hover { color: aquamarine; }
      }
      h6 { text-transform: uppercase; }
      ul {
         list-style: none;
         padding: 1em 0;
         li {
            font-size: 14px;
         }
      }
   }
   address:last-child {
      text-align: center;
   }
   small {
      padding-top: 15px;
      margin-bottom: 5px;
      color: #fff;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
   }
}

// Responsive Styles
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {
   footer {
      padding-top: 1em;
      padding-bottom: 3em;
      .navbar-brand {
         display: contents;
         margin-right: 0;
         .logo-gbpd {
            top: 0;
            margin: auto;
            position: relative;
            .footer-logo {
               margin: auto;
               position: relative;
            }
            span {
               display: none;
            }
         }
      }
      address {
         top: 3em;
         text-align: center;
         ul {
            width: 100%;
         }
      }
      address:last-child {
         margin-bottom: 3em;
      }
      small { margin: auto; padding-top: 20px; }
   }
}
@media (max-width: 576px) {}
