footer {
   background: $menu-item-focus;
   width: 100%;
   min-height: 300px;
   .logo-gbpd {
      top: 2em;
      left: 1em;
      display: flex;
      position: absolute;
      .footer-logo {
         background: transparent url('../img/gbpd-logo-s.png') center center no-repeat;
         background-size: contain;
         width: 80px;
         height: 80px;
      }
      .text-logo {
         width: 128px;
         font-size: 18px;
         color: #fff;
         margin-left: 0.6em;
         white-space: initial;
         line-height: 1.2em;
      }
   }
   address {
      top: 2.5em;
      position: absolute;
      color: #fff;
      .social-media-links {
         font-size: 2em;
         letter-spacing: 0.1em;
         a { color: #fff; }
         a:hover { color: aquamarine; }
      }
      h6 { text-transform: uppercase; }
      ul {
         list-style: none;
         padding: 1em 0;
         li {
            font-size: 14px;
         }
      }
   }
   address:last-child {
      text-align: center;
   }
}

// Responsive Styles
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {
   footer {
      padding: 3em 0;
      .navbar-brand {
         display: contents;
         margin-right: 0;
         .logo-gbpd {
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            position: relative;
            .footer-logo {
               margin: auto;
               position: relative;
            }
            span {
               display: none;
            }
         }
      }
      address {
         top: 3em;
         text-align: center;
         ul {
            width: 100%;
         }
      }
   }
}
@media (max-width: 576px) {}
