// General
.banner {
   margin-top: 6.5em;
   background: #aaa url('../img/banner-gbpd-2021.jpeg') center center no-repeat;
   background-size: contain;
   width: 100%;
   height: 400px;
}
.row {
   h1 { margin-top: 1em; }
}
.align-title {
   padding: 0 0.6em;
}
// Feed Notas - Home
.feed-news-group {
   margin: 8px;
   ul {
      list-style-type: none;
      padding-left: 12px;
      width: 32em;
      li {
         padding: 10px;
         overflow: auto;
         border-bottom: #aaa 1px solid;
         h5 {
            font-size: 14px;
            color: $menu-background;
         }
         img {
            float: left;
            margin: 0 15px 0 0;
         }
         p {
            color: #333;
            font-size: 14px;
            margin-bottom: 6px;
         }
      }
      li:hover {
         background: #eee;
         cursor: pointer;
         a { text-decoration: none; }
         h5 {
            color: $box-border-bg;
            text-decoration: underline;
         }
      }
   }
}

// Facebook plugin
iframe {
   width: 450px;
}

// Responsive Styles
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
