// General
.banner {
   margin-top: 7em;
   background: #aaa url('../img/banner-gbpd-2021.jpeg') center center no-repeat;
   background-size: contain;
   width: 100%;
   height: 400px;
}

// Responsive Styles
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
