// General
#loginNav {
   background: $menu-item-focus;
   z-index: 2000;
   .logo-gbpd {
         top: 0.6em;
         left: 4em;
         // background: $menu-item-focus;
         // background: $menu-background;
         display: flex;
         position: absolute;
         width: 240px;
         padding: 7px 12px;
      .main-logo {
         background: transparent url('../img/gbpd-logo-s.png') center center no-repeat;
         background-size: contain;
         width: 80px;
         height: 80px;
      }
      .text-logo {
         width: 122px;
         font-size: 18px;
         color: #fff;
         margin-left: 0.6em;
         white-space: initial;
         line-height: 1.1em;
      }
   }
   .nav-link {
      font-family: $font-family-base;
      font-size: 14px;
      color: #fff;
   }
   .nav-link:hover {
      color: aquamarine;
   }
}
#mainNav {
   top: 2.2em;
   background: $menu-background;
   font-family: $font-family-base;
   box-shadow: 0 0.2rem 1rem rgba(0,0,0,.5);
   .nav-link { color: #fff; }
   .nav-link:hover { color: aquamarine; }
}

// Responsive Styles
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {
   #loginNav {
      .logo-gbpd {
         left: 5em;
      }
   }
}
@media (max-width: 576px) {
   #loginNav {
      .navbar-brand { display: none; }
      .nav-link { padding: 0.5rem; }
   }
   #mainNav {
      top: 2.2em;
   }
}
