// General
#loginNav {
   background: $menu-item-focus;
   z-index: 2000;
   .nav-item {
      .btn-associe {
         background: #EFB728;
         margin: 4px 0;
         padding: 4px 8px;
         border-radius: 2px;
         transition: 0.5s;
      }
      .btn-associe:hover {
         box-shadow: 0 0 4px 2px rgba(250, 250, 250, 0.4);
         color: $menu-background !important;
      }
      button {
         background-color: transparent;
         border: none;
         font-family: $font-family-base;
         font-size: 14px;
         color: #fff;

      }
      button:hover {
         color: aquamarine;
      }
   }
}
#mainNav {
   top: 2.2em;
   background: $menu-background;
   font-family: $font-family-base;
   box-shadow: 0 0.2rem 1rem rgba(0,0,0,.5);
   .nav-link { color: #fff; padding-right: 1em; }
   .nav-link:hover { color: #EFB728; }
   .logo-gbpd {
      top: -10px;
      width: 160px;
      height: 82px;
      margin: 5px 0;
      display: flex;
      position: absolute;
      background: transparent url('../img/gbpd-logo-new.png') center center no-repeat;
      background-size: contain;
   }
}

// Responsive Styles
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {
   #mainNav {
      #navbarResponsive {
         .navbar-nav { padding-top: 20px; }
      }
   }
}
@media (max-width: 576px) {
   #loginNav {
      .btn-associe { padding: 4px 8px; }
      .sm-hide { display: none; }
      .navbar-brand { display: none; }
      .nav-link {
         i { padding: 5px;}
      }
   }
   #mainNav {
      top: 2.2em;
      .logo-gbpd {
         top: -8px;
         width: 150px;
      }
   }
}
